<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Easter Egg</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        (come together)


        Hello, user.

        I am a easter egg. My kind stays hidden in the shadows, waiting for a weary explorer to find us.
        We grant joy and surprise to those who find us.

        At the gates of where you are headed, you will be asked your name, and a key. Call the name of the
        game where the first of my kind hid, and the gates will open to lead you to your destination.

        Good luck.


        P.S: Here is another totally unsuspicious <span> <a href="/fool"> surprise</a></span> . You may
        already know what
        lies ahead.
    </div>
</body>

</html>