<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Birthday!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        Hello, user.

        i have heard your name is <span class="imp">" ".</span>

        You have come close to celebrating your victory with the ones you hold dear.
        You and your friends must take all what you know and <span id="secret"> <a href="/surprise"> come together </a>
        </span>
        to the gates of the place which <span class="imp"> captures the world's moments. </span>

        Good luck.


        P.S: Be careful where you click.
    </div>
</body>

</html>