<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>You Fool!</title>

        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">

    </head>

    <body>

        <div class="full">
            <div class="container">

                <div class="text">

                    <h4>
                        You came here expecting a Rick-Roll, didn't you?
                    </h4>
                    <p>
                        Rick-Rolls are predictble. Everyone expects them. But you forgot one thing:
                    </p>

                    <p class="imp">
                        <a href="https://knowyourmeme.com/memes/nobody-expects-the-spanish-inquisition">Nobody
                            expects the
                            Spanish
                            Inquisition!</a>
                    </p>

                    <img src="si.gif" alt="">

                </div>

            </div>
        </div>

    </body>

</html>