.full {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    text-align: center;
    color: white;
    font-family: "Courier Prime";
}

.text {
    padding-top: 100px;
    padding-bottom: 75px;
}

.imp {
    color: red;
}

#secret a {
    color: white;
}

#secret :hover {
    color: red;
}

a :hover {
    color: red;
}